{% extends "base.html" %}
{% block content %}
{% for forum in forums %}
<!-- Forums  -->
<dl class="even" id="thread_{{ forum.pk }}">
    <dt class="list read" ondblclick="location.href='{% url 'board.views.thread' forum.pk %}'">
        <span>Thread By: </span><a href="#" class="memberlink">Feffy</a>
                &bull;&nbsp;<a href="javascript:;" onclick="firstpost('thread',{{ forum.pk }},this);return false;">&raquo;</a>&nbsp;
            <span>Subject: </span>
            <a href="{% url 'board.views.thread' forum.pk %}">{{ forum.title }}</a>

        <span>Posts: </span> {{ forum.num_posts }}
        <span>Last Post By:</span><a href="#">Feffy</a> on Blah blah blah blah
    </dt>
    <dt id="fp_{{ forum.pk }}" class="firstpost"></dt>
</dl>
{% endfor %}
{% endblock %}