{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block scripts %}
 <script src="http://127.0.0.1:8001/socket.io/socket.io.js"></script>
  <script>
    $(document).ready(function(){
      var socket = io.connect('127.0.0.1', {port: 8001});
      
      socket.on('connect', function(){
        console.log("connect");
      });
      
      var entry_el = $('#body');
               
      socket.on('message', function(message) {
        //Escape HTML characters
        var data = message.replace(/&/g,"&amp;").replace(/</g,"&lt;").replace(/>/g,"&gt;");
        
        //Append message to the bottom of the list
        $('#threadposts').append('<div class="rowpost"><div class="col-md-12">' + data + '</div></div>');
        window.scrollBy(0, 10000000000);
        entry_el.focus();
      });
                     
      $("#postit").click(function(event){
        //When say it is clicked, post to server
        var msg = entry_el.val();
        if(msg){
           socket.emit('send_message', msg, function(data){
                console.log(data);
           });
        
        //Clear input value   
        entry_el.attr('value', '');
       }
      });
    });
  </script>
{% endblock %}
{% block content %}
<!-- Posts  -->
<h3>{{title}}</h3>
<div id="threadposts">
{% for post in posts %}

  <div class="row post" id="post_{{post.pk}}_info">
      <div class="col-md-12">
    		<span class="postinfo"><a href="#" class="memberlink">{{ post.creator }}</a>+ posted this {{ post.created }}</span>
      		&nbsp;&raquo; <a href="javascript:;" onclick="quote_post({{ post.pk }})">quote</a>&nbsp;&raquo;
      		<a href="#{{ forloop.counter }}" name="">#{{ forloop.counter }}</a>
    </div>
  </div>
  <div class="row post" id="post_{{post.pk}}_body">
    <div class="col-md-12">
      <span class="postbody">{{ post.bodybbcode|safe }}</span>
    </div>
  </div>
{% endfor %}
</div>
{% if posts.object_list and posts.paginator.num_pages > 1 %}
<ul class="pagination">
    <li>
        {% if posts.has_previous %}
            <a href= "?page={{ posts.previous_page_number }}">previous &lt;&lt; </a>
        {% endif %}
    </li>
    <li>
        &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
    </li>
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}"> &gt;&gt; next</a>
        {% endif %}
    </li>
</ul>
{% endif %}
{% endblock %}
{% block actionarea %}
	<div id="response_form"></div>
  <fieldset>
  <legend>Account</legend>
  <div id="loggedin"><h4 style="display:inline" id="loggedinname">{{ user.username }}</h4>&nbsp;
  (<a href="javascript:;" onclick="$('#loggedin').hide();$('#account').show();">post as someone else</a>)</div>
  <span id="account" style="display:none">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" name="pass" id="pass" value="" class="form-control"/>
    </div>
  </span>
  </fieldset>
  <fieldset>
  <legend>Reply</legend>
    <div class="form-group">
      <label id="label_body" for="body">Body:</label>
      <textarea name="body" id="body" rows=5 class="form-control"></textarea>
    </div>
  </fieldset>
  <input type="submit" class="btn btn-success" value="say it" id="postit" name="postit"/>

  <input type="button" class="btn" name="preview" id="preview" value="preview"/>&nbsp;<sup><a href="javascript:;" onclick="$('#bbcode').slideToggle()">[help]</a></sup>
<div id='bbcode' class='view' style='font-size:.85em;display:none;'>
<pre>
<h4>TAGS:</h4>
http://www.google.com/ <-- automatic link
[url]http://www.google.com/[/url]
[url=http://www.google.com/]with my own link text[/url]
[img]http://www.google.com/intl/en_ALL/images/logo.gif[/img]
[u]underline[/u]
[strong]bold[/strong]
[b]bold[/b]
[i]italic[/i]
[em]italic[/em]
[strike]strikethrough[/strike]
[code]like pre[/code]
[sub]subscript[/sub]
[sup]superscript[/sup]
[youtube]http://www.youtube.com/watch?v=WAwLYJYsa0A[/youtube]
[vimeo]http://vimeo.com/11487173[/vimeo]
[soundcloud]http://soundcloud.com/rantonio/infest[/soundcloud]
[bandcamp]album=48165752[/bandcamp]
[bandcamp]track=3451844715[/bandcamp]
More info on bandcamp embedding here: http://www.macosxaudio.com/forums/viewtopic.php?f=11&t=46948
[quote]quote[/quote]
[spoiler]hidden text here[/spoiler]
</pre>
{% endblock %}