body {
      padding-top: 60px;
    }
    .login-form {
      background:#fff;
    }
    @media (max-width: 979px) {
      body {
        padding-top: 60px;
      }
    }
    .row.list:nth-of-type(odd) {
      background: #e0e0e0;
    }

    .row.post:nth-of-type(even) {
      padding-bottom: 10px;
    }

    .row.post:nth-of-type(odd) {
      background: #e0e0e0;
    }